body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .weather-app {
    text-align: center;
    background: rgb(182, 182, 209);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
  }
  
  h1 {
    color: #007bff;
  }
  
  .search {
    margin-bottom: 20px;
  }
  
  .search input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }  
  
  .search button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .search button:hover {
    background-color: #0056b3;
  }
  
  .weather-info {
    margin-top: 20px;
  }
  
  #weather-icon {
    width: 100px;
    height: 100px;
  }